body{
    
    
    background-image: url("arkaplan.jpg");
}
div.header{
    background-color: #e6ddd6;
    height: 110px;
    width: 100%;
    color:#010101;
}
    div.headerileyazilararasiboyunabosluk{
        width:100% ;
        height:100px ;
    
    }
    
    
    div.headerbaslik{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size:45pt;
        float:left;
        text-align:center;
        width:20%;

    }
    div.headerlinktablolarigeneldiv1{
        height: 110px;
        width: 40%;
        float:left;
        
        
    }
    div.headerlinktablolarigeneldiv2{
        height: 110px;
        width: 39%;
        float:left;
        
        
    }
    div.tabloicerigidiv{
        font-size:20pt;
        padding-top: auto;
        padding-bottom: auto;
        text-align: left;
        
        
        
    }

    div.tabloicerigidiv2{
        font-size:12pt;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: right;
        
       
        
    }
    a.headerlinkler{
        text-decoration: none;
        color: #5b3629;
        font-family: fantasy;
    }
    div.sifirla{
        clear:both;
    }

    div.headerileyazilararasiboyunabosluk{
        width:100% ;
        height:100px ;
    
    }
    div.footer{
        width:100%;
        height:50px ;
        background-color:#410962 ;
    }
    div.footerkimlik{
        font-size:30px;
        color: gainsboro;
        font-family:Serif;
        height: 50px;
        width: 60%;
        text-align: left;
        float:left;
    }
    
    div.footersosyallinkler{
        width: 40%;
        height: 50px;
        float:left;
    }
    div.sosyallogo{
        max-width:"16px"; 
        max-height:"16px";
        float:left;
    }


    div.bilgilerdiv{
        opacity: 0.90;
        float:left;
        height:1000px ;
        width:100%;
        font-size:35pt;
        color: #010101;
        text-align: center;
        background-image: url("loginarkamenu.jpg");
    }
    div.bilgileryazisi_ic{
        text-align: center;
        font-size:55px;
        color:#010101;
    }


    div.labelSekliYazi_ic{
        color: #010101;
        text-align: left;
        font-size:35px;
        
    
    }

    p.yazilar{
        font-size: 13pt;
        font-family: Monospace 
    }
    p.basliklar{
        font-size:20pt;
        font-family: Fantasy;
    }

    div.logindiv{

       
        text-align: center;
        background-image: url("loginarkamenu.jpg");



    }








